#main
{
    display:flex;
    height: 700px;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: blue;
    width:200px;
    height:200px;
}
@media (min-width:481px) and (max-width:767px)
{
    #main
    {
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        background-color: red;
        width:100px;
        height:100px;
    }
}